# py related
pylint
yapf


# data
scikit-learn
pandas
numpy
matplotlib
scipy

# torch
# torchaudio
keras
tensorflow

# audio
wave # stuff to parse WAV files
pyaudio # used to connect to input and record audio
simpleaudio # generates and play audio files
librosa # audio normalization

